.landing {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.landing-left {
  margin-top: 4rem;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.landing-caption {
  background: #fdecec;
  display: flex;
  width: fit-content;
  align-items: center;
  border-radius: 25px;
  padding: 10px;
  color: #f54748;
}
.landing-caption img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}
.landing-heading {
  padding-top: 20px;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.landing-heading h1 {
  width: fit-content;
  font-family: "Poppins", sans-serif;
  font-size: 5rem;

  margin: 0;
  line-height: 1em;
}
.landing-heading span {
  color: #f54748;
}
.landing-heading p {
  color: rgb(59, 57, 57);
  padding: 5px;
  text-align: start;
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: 450;
}
.landing-btns button {
  width: 150px;
  font-size: 1.2rem;
  padding: 15px 5px 15px;
}
.landing-right {
  font-family: "Poppins", sans-serif;
  flex: 0.5;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-btns {
  margin-top: 1.5rem;
}
.hero-wrap {
  margin-top: 8rem;

  position: relative;
  background: #f54748;
  height: 400px;
  width: 400px;

  border-radius: 10% 30% 30% 30%;
}
/* .hero-wrap::after {
  content: "";
  position: absolute;
  background: white;
  width: 400px;
  height: 100px;
  top: 24.5rem;
  left: 1rem;
  border-radius: 50% 50% 20% 20%;
} */
.girlImg {
  /* width: 400px; */
  /* width: 25em; */
  width: 100%;
  margin-top: -8rem;
  border-radius: 0 0 20% 0;
}
.clockImg {
  top: -8rem;
  left: -8rem;
  position: absolute;
  width: 100px;
}
.arrowImg {
  position: absolute;
  top: -4rem;
  right: -6rem;
  width: 100px;
  transform: rotate(10deg);
  z-index: -10;
  position: absolute;
}
.flameImg {
  position: absolute;
  top: 7rem;
  left: -5rem;
  width: 40px;
  transform: rotate(10deg);
  z-index: 1000;
}
.hero-customer {
  position: absolute;

  top: 25rem;
  left: -6rem;

  background: white;
  padding: 8px 10px 8px;
  border-radius: 50px;
  display: flex;
  z-index: 100;
  height: 3.5rem;
  align-items: center;
  width: fit-content;
  box-shadow: 0 0 25px #d2cdcd;
}
.customer-Img {
  background: #ffeecc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.customer-Img img {
  width: 40px;
}
.customer-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 10px;
}
.customer-name h3 {
  font-size: 1rem;
  margin: 0;
}
.customer-name span {
  color: rgb(61, 60, 60);
}

.customer-call {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.customer-call img {
  width: 30px;
}
.hero-product {
  position: absolute;
  top: 13rem;
  right: -12rem;
  display: flex;
  background: white;
  box-shadow: -10px 0 25px #c0b1b1;
  width: fit-content;
  padding: 12px;
  border-radius: 15px;
}
.hero-product img {
  border-radius: 15px;
  width: 80px;
}
.product-info {
  font-weight: 800;

  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.product-info span {
  font-weight: 2000;
  font-size: 1.3rem;
}
.product-price {
  display: flex;
  align-items: baseline;
}
.product-price span {
  display: flex;
  align-items: flex-end;
  font-size: 0.7rem;
  color: #f54748;
}
@media (max-width: 450px) {
  .landing {
    margin-top: 1rem;
    flex-direction: column;
    flex-flow: column-reverse;
    position: relative;
  }
  .landing-caption,
  .hero-customer,
  .hero-product {
    display: none;
  }
  .hero-wrap {
    width: 80%;
    height: 50%;

    border-radius: 10% 40% 30% 30%;
  }
  .arrowImg {
    width: 20%;
    top: -4rem;
    right: -2rem;
  }
  .clockImg {
    width: 20%;
    top: -5rem;
    left: 0;
  }
  .flameImg {
    width: 10%;
    top: 5rem;
    left: -2rem;
  }
  .landing-left {
    margin-top: 0%;
    align-items: center;
    /* border: 1px solid black; */
    padding: 0%;
  }
  .landing-heading {
    padding: 0;
  }
  .landing-heading h1 {
    /* border: 1px solid black; */
    width: auto;
    font-size: 3rem;

    margin: 0;

    text-align: center;
  }
  .landing-heading p {
    text-align: center;
    padding: 0;
    margin: 1rem;
    font-size: 1.3rem;
  }

  .landing-right {
    transform: scale(0.9);
    margin-bottom: 0;
  }
}
